body {
    background-image: url("../img/buger-gummies.jpg");
    background-size: cover;
}

h1, h2, h3 {
    font-family: 'Spicy Rice', cursive;
}

.container {
    background-color: rgba(255,255,255,.6);
}

#add {
    background-color: #FFA235;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 1% 0;
}

.eat {
    padding: 0 2%;
    margin: 0 2%;
}